<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loanBuddy-about</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <navbar id="nav">
        <div id="logo">
            <img src="/images/logo.jpg" alt="LOGO" id="clicklogo">
            <h2>loanBuddy</h2>
        </div>
        <div id="opt">
            <div id="homeopt">Home</div>
            <div id="aboutopt">About</div>
            <div id="signinopt">Sign-in</div>
            <div id="signupopt">Sign-up/Register</div>
        </div>
    </navbar>
    <script src="/js/about.js"></script>
</body>
</html>