<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loanBuddy-sign-in</title>
    <link rel="stylesheet" href="/css/signin.css">
</head>
<body>
    <navbar id="nav">
        <div id="logo">
            <img src="/images/logo.jpg" alt="LOGO" id="clicklogo">
            <h2>loanBuddy</h2>
        </div>
        <div id="opt">
            <div id="homeopt">Home</div>
            <div id="aboutopt">About</div>
            <div id="signinopt">Sign-in</div>
            <div id="signupopt">Sign-up/Register</div>
        </div>
    </navbar>
    <div id="bottum">
        <div id="one">
            <div id="onedet">
                <h3>Enter Email :</h3>
                <input type="text" id="email" placeholder="username@gmail.com">
                <br>
                <h3>Enter Password :</h3>
                <input type="password" id="password" placeholder="password" minlength="8">
            </div>
            <div id="onebot">
                <h3 id="ms1"></h3>
                <button id="Sign_In">Sign-In</button>
            </div>
        </div>
    </div>
    <script src="/js/signin.js"></script>
</body>
</html>